conda uninstall gym       # eliminare
conda uninstall numpy     # eliminare
conda install pandas
conda install keras
conda install matplotlib
# inoltre
# pip install mujoco-py<2.0 ha la licenza a 30 giorni
# sostituire quindi con:
# inoltre il gruppo deve essere installato uniformemente con pip
# altrimendi ci sono errori di registrazione
pip install gym pybullet
pip install git+https://github.com/benelot/pybullet-gym
#